@import "../pages/BookDetails.css";
@import "../pages/About.css";
@import "../pages/BookPreview.css";
/* @import "../pages/Home.css"; */
/* @import "../cmps/AppHeader.css"; */
@import "../cmps/BookAdd.css";
@import "../cmps/BookList.css";
@import "../cmps/ReviewAdd.css";
@import "../cmps/star-rating.css";
@import "../cmps/SearchBookList.css";
/* @import "./buttons.css"; */
@import "./helpers.css";
@import "../cmps/UserMsg.css";



@import url('https://fonts.googleapis.com/css2?family=Pontano+Sans&display=swap');

body {
  font-family: 'Pontano Sans', sans-serif;  margin: 0;
  padding: 0;
  background-color: #c895958a;
}

header {
    display: flex;
    background-color: #c89595;
    width: 100%;
    height: 100px;
}

.logo {
  height: 100%;
  background-color: transparent;
}

.header-headline {
    font-family: cursive;
    margin: 32px;
    color: #544b4b;
    font-size: 24px;
}

/* label {
  margin-inline-start: 83px;
} */

form {
  margin-top: 20px;
}
