.app-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #c895957d;
    height: 10vh;
    padding: 0 2rem;
    margin-bottom: 2rem;
}

.app-header .main-nav a {
    text-decoration: none;
    color: inherit;
}

.app-header .main-nav a.active {
    color: #ffffff;
}

.app-header .main-nav a.my-active {
    color: #ffffff;
}

.app-header .main-nav a {
    margin-inline-end: 0.5rem;
}


.app-header .main-nav:last-child a {
    margin-inline-end: 2.5rem;
}

header h1{
    cursor: pointer;
    color:white
}


