.review-add {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #474e5d7a;
  padding-top: 50px;
}

.review-add .review-modal {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 30%;
  text-align: center;
  border-radius: 15px;
  border: 3px solid #c89595;
}

.review-modal h1 {
  background-color: #c89595;
  color: white;
  padding: 10px;
  font-size: 1.5rem;
  text-align: center;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.review-modal textarea {
  display: block;
  margin: 20px auto;
  resize: none;
}

.review-form input,
.review-form button {
  margin: 10px;
}

.btn-toggle-modal {
  position: absolute;
  right: 35%;
  top: 16%;
  font-size: 1rem;
  font-weight: bold;
  color: #ce7e86;
}

.review-add .btn-toggle-modal {
  padding: 2px 7px;
}

.star-rating label{
  margin-left: 0;
}

.form-date{
  margin-left: 0;
}