.new-msg-headline{
    background-color: rgba(0, 0, 0, 0.856);
    color: white;
    font-size: 20px;
    margin-top: 0;
    border-top-left-radius:10px ;
    border-top-right-radius: 10px;

}

.to-container, .cc-container, .bcc-container, .sub-container ,textarea{

    display: flex;
    border-bottom: 1px solid #0000002e;
    height: 30px;
}

.mail-add{
    margin-top: 20px;
    width: 95%;
    box-shadow: 4px 2px 7px 5px #0000005e;
    border-radius: 10px;
}

.to-input, .cc-input, .bcc-input, .subject-input{
    flex-grow: 1;
    border: none;
}

.btn-container{
    display: flex;
    justify-content: space-between;
    
}

textarea{
    width: 99%;
    height: 300px;
}

form div label{
    margin-inline-start: 10px;
    margin-top: 7px;
}

.delete-btn-add-mail{
    border: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 25px;
}

.save-btn-mail-add{
    border: none;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    margin: 10px;
    color: white;
    background-color: #4569c5e0;
}